<div style="text-align: center;margin-top: 10px;">
    <!-- <h1>My Education</h1> -->
    <h1><span class="my-style">My</span> <span class="education-style">Education</span> </h1>
</div>
<div class="Education">
    <div class="section">
        <!-- <div>
            <h1>My Education</h1>
        </div> -->
        <div class="section1">
            <h2>Bachelor of Engineering in Electrical and Electronics Engineering</h2>
            <span>
                <p>Vasavi College of Engineering &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; Hyderabad, Telangana &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; 2018-2022</p>
            </span>
        </div>

        <div class="section2">
            <h2>Intermediate</h2>
            <span>
                <p>Gowthami junior colloge &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Nalgonda, Telangana &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2016-2018</p>
            </span>
        </div>
        <div class="section3">
            <h2>Schooling</h2>
            <span>
                <p>Gowthami junior colloge &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;Devarakonda, Telangana &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;2015-2016 </p>
            </span>
        </div>
    </div>
</div>