<!-- <div class="header"> -->
    <!-- <div class="full-name">CHETTIPALLY <br>SURIBABU
        <span class="subtitle">(Full Stack Developer)</span>

        <ul>
            <li >
                About Me
            </li>
            <li>
                Experience
            </li>
            <li  >
                Education
            </li>
            <li >
                Projects
            </li>
        </ul>
    </div> -->
    <!-- <div class="about-me">About Me</div> -->
     <!-- <div class="List">
        <ul>
            <li >
                About Me
            </li>
            <li>
                Experience
            </li>
            <li  >
                Education
            </li>
            <li >
                Projects
            </li>
        </ul>
     </div> -->
    <!-- <div class="field">
        <button class="example-button" (click)="navigate()">
            Experience
        </button>
        <a class="about-me" href="#experience">Experience</a>
    </div> -->
    
<!-- </div> -->
<!-- <div>
    <div  class="profile-container">
      
        <img src="assets\images\suri photo.jpg" class="profilepic" alt="profile">
        <div class="info-fields">
            <div class="field">
                <button class="example-button" (click)="navigate()">
                    Experience
                </button>
            </div>
            <div class="field">
                <button class="example-button">
                    Education
                </button>
            </div>
            <div class="field">
                <button class="example-button">
                    Skills
                </button>
            </div>
            <div class="field">
                <button class="example-button">
                    Hobbies/Interests Section
                </button>
            </div>
        
            <div class="field">
                <button class="example-button">
                    Contact Information
                </button>
            </div>
        </div>
    </div>
  
</div> -->
<div class="header">
    <div class="full-name">
        CHETTIPALLY <br>SURIBABU
        <span class="subtitle">(Full Stack Developer)</span>
    </div>
    <ul class="nav-list">
        <li>
            <a class="nav-link" routerLink = "/home">About Me</a></li>
        <li> <a class="nav-link" routerLink = "/emp-experience">Experience</a></li>
        <li> <a class="nav-link" routerLink = "/emp-education">Education</a></li>
        <li> <a class="nav-link" routerLink = "/project-section">Projects</a></li>
        <li> <a class="nav-link" routerLink = "/skill-section">Skills</a> </li>
        <li> <a class="nav-link" routerLink = "/hobbies-section">Hobbies/Interests Section</a></li>
    </ul>
</div>

