<div class="projects">
    <div class="project-section">
        <div class="project-one">
            <p style="font-size: 15px;     color: darkviolet"> Employee Benefit Fund Management System(2023-2024):  <p>
                <p> Developed a cloud-based digital solution to
                enhance
                the processing of Provident Fund (PF), Gratuity Fund (GF), and Superannuation services. The system,
                hosted on
                AWS, uses modern web technologies to ensure scalability, security, and flexibility. It addresses the
                needs of
                employees, employers, and trustees, offering modular and subscription-based services for efficient fund
                management.</p>
        </div>

        <div class="project-one">
            <p style="font-size: 15px;color: darkviolet"> Stylr Bazaar(In Progress -2024): <br> </p>
            <p>I am currently developing a full-stack e-commerce website
                 that serves as a platform for sellers to add and manage products, 
                 and for users to browse, place orders, and purchase these products. 
                 The project is still under development and is being built with a focus
                  on creating a user-friendly interface and a robust backend.</p>
            <p>Technologies:</p>
            <p>The project utilizes a range of technologies, 
                including Angular for the frontend, Node.js and Express.js for the backend,
                 and PostgreSQL for the database management. Additionally, 
                 I am leveraging HTML, CSS, and JavaScript for the design and interactivity, 
                 with Git for version control and Postman for API testing.</p>
        </div>

    </div>

</div>