<div>
    <div class="experience">

        <div class="my-resume">
            <h2>Work Experience</h2>
            <p style="color: #FFD700;">Cloudtaru Infotech Private Ltd, <span> Sep 2023 - May2024, Software Engineer
                </span></p>
            <p> Employee Benefit Fund Management System(2023-2024): <br><br> Developed a cloud-based digital solution to
                enhance
                the processing of Provident Fund (PF), Gratuity Fund (GF), and Superannuation services. The system,
                hosted on
                AWS, uses modern web technologies to ensure scalability, security, and flexibility. It addresses the
                needs of
                employees, employers, and trustees, offering modular and subscription-based services for efficient fund
                management.</p>

        </div>
    </div>

    <div class="experience">

        <div class="my-resume">
            <h2>Internship Experience</h2>
            <p style="color: #FFD700;">Cloudtaru Infotech Private Ltd, Hyderabad Feb 2023 - Aug 2023, Intern </p>
            <p> • Resolved critical bugs including HTTP 500 Internal Server Errors, improving the stability and
                reliability of the
                application. </p>
            <p> • Enhanced user experience in the PF portal by implementing a feature that automatically fills in the
                bank IFSC code
                based on the selected bank name, reducing user input errors. </p>
            <p>• Fixed file upload issues on the employee screen of the PF portal, ensuring that uploaded files are
                correctly
                displayed and saved on the server using the Multer library. </p>


        </div>
    </div>
</div>