<div class="section">
    <div class="hobbies">
        <div class="hobbies-section">
            <h2 style="color: chartreuse;">Hobbies/Interests</h2>
            <p> • Cycling: &nbsp; Regularly participate in long-distance cycling events and enjoy exploring new trails. </p>

            <p> • TEDx Talks: &nbsp;Enthusiastic attendee of TEDx events, keen on gaining insights from thought leaders on
                various subjects.</p>

            <p>• Marathons: &nbsp; Active runner, have participated in multiple marathons, focusing on fitness and endurance
                building.</p>

            <p>• Fiction Reading: &nbsp; Passionate about reading fiction books, enjoying the imaginative worlds and diverse
                perspectives they offer </p>

            <p>• Tech Meetups: &nbsp;  Regularly attend tech meetups and workshops to stay updated with the latest trends in web
                development.</p>
        </div>
    </div>
</div>