<div>
    <h1 style="    text-align: center;margin-top: 15px;">Skills & Abilities</h1>
</div>
<div style="    display: ruby-text;">
<div class="skill-section">
    <div class="skill-modification">
        <div>
            <img src="assets\images\angular.png" class="skillimage" alt="profile">
        </div>
        <div>
            <img src="assets\images\nodejs.png" class="skillimage" alt="profile">
        </div>
        <div>
            <img src="assets\images\github.png" class="skillimage" alt="profile">
        </div>
        <div>
            <img src="assets\images\postman.png" class="skillimage" alt="profile">
        </div>
        <div>
            <img src="assets\images\postgresql.png" class="skillimage" alt="profile">
        </div>
        <div>
            <img src="assets\images\html.png" class="skillimage" alt="profile">
        </div>
        <div>
            <img src="assets\images\css.png" class="skillimage" alt="profile">
        </div>
    </div>
</div>
</div>