<div class="container">
    <div class="home">
        <div>
            <img src="assets\images\suri photo.jpg" class="profilepic" alt="profile">
        </div>
        <div class="about-me-content">
            <h2>About me</h2>
            <p>
                Hello! I'm CHETTIPALLY SURIBABU, a passionate Full Stack Developer with a strong background in building
                dynamic web applications.
                I have expertise in frontend technologies like Angular and backend frameworks like Node.js, allowing me
                to
                create seamless and efficient user experiences.
                My goal is to continue growing as a developer and contribute to innovative projects that make a
                difference.
            </p>
            <p>
                Outside of work, I enjoy cycling, attending TEDx talks, and participating in marathons. These activities
                keep me motivated and help me maintain a balanced life.
            </p>
        </div>
    </div>
    <div class="footer">
        <div style="margin-top: 7px;">
            <a href="https://github.com/chettipallybabu50" target="_blank">
                <img src="assets/images/github.png" alt="GitHub"
                    style="width: 50px; height: 50px; border: 1px solid; margin-left: 102px;margin-right: 41px;border-radius: 12px;">
            </a>
        
            <a href="https://www.linkedin.com/in/chettipally-suribabu-bb7362210/" target="_blank">
                <img src="assets/images/linkedin.png" alt="GitHub" style="width: 50px; height: 50px; border: 1px solid;border-radius: 12px;">
            </a>
        </div>
        <div style="margin-left: 190px;">
            <button (click)="downloadPDF()" style="height: 40px; width: 100px;color: white;background-color: blue;border-radius: 8px;cursor: pointer;border: none;">Resume</button>
        </div>
    </div>
</div>